version: "3.7"

services:
  prisma:
    image: prismagraphql/prisma:1.34
    # container_name: "prisma"
    
    # Uncomment for open ports
    # ports:
      # - '4466:4466'
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: mysql
            host: ${MYSQL_HOST:-mysql}
            port: ${MYSQL_PORT:-3306}
            # database: ${MYSQL_DB}
            user: ${MYSQL_USER:-root}
            password: ${MYSQL_PASSWORD}
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      # Can set another path 
      - mysql:/var/lib/mysql

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: ${MYSQL_HOST:-mysql}
      PMA_PORT: ${MYSQL_PORT:-3306}
    depends_on:
      - mysql

  front:
    tty: true
    build:
      context: ./prisma-cms
    volumes:
      - schema:/www/boilerplate/src/schema
      - shared:/www/boilerplate/shared
    # environment: 
    env_file: 
      - .env
    environment: 
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
    entrypoint: /usr/bin/entrypoint-front.sh

  api:
    tty: true
    build:
      context: ./prisma-cms
    volumes:
      - schema:/www/boilerplate/src/schema
      - uploads:/www/boilerplate/uploads

      # For any server config files, for example DKIM
      - ./opt:/opt
    depends_on:
      - prisma
    env_file: 
      - .env
    environment: 
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - endpoint=${dev_endpoint}
    entrypoint: /usr/bin/entrypoint-api.sh

  # web-server
  proxy:
    environment:
      - ACME_AGREE=true
    build:
      context: ./caddy

volumes:
  mysql:
  schema:
  shared:
  uploads:
