version: "3.7"

services:
  prisma:
    image: prismagraphql/prisma:1.34
    # container_name: "prisma"
    
    # Uncomment for open ports
    # ports:
      # - '4466:4466'
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: mysql
            host: ${MYSQL_HOST:-mysql}
            port: ${MYSQL_PORT:-3306}
            # database: ${MYSQL_DB}
            user: ${MYSQL_USER:-root}
            password: ${MYSQL_PASSWORD}
            migrations: ${PRISMA_MIGRATIONS}
            rawAccess: ${PRISMA_RAW_ACCESS}
    # depends_on:
    #   - mysql

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      # Can set another path 
      - mysql:/var/lib/mysql

  pma:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: ${MYSQL_HOST:-mysql}
      PMA_PORT: ${MYSQL_PORT:-3306}
      UPLOAD_LIMIT: ${PMA_UPLOAD_LIMIT:-100M}
    # depends_on:
    #   - mysql

  front:
    tty: true
    build:
      context: ./prisma-cms
      network: ${NETWORK_NAME:-prisma-cms-default}
      args: 
        - SITE=${SITE:-boilerplate}
        - ROLE=FRONT
        - ENV_MODE=development
        - endpoint=${dev_endpoint}
    volumes:
      # - schema:/www/${SITE:-boilerplate}/src/schema
      # - shared:/www/${SITE:-boilerplate}/shared
      - ./prisma-cms/${SITE:-boilerplate}/shared:/www/${SITE:-boilerplate}/shared
      - ./prisma-cms/${SITE:-boilerplate}/uploads:/www/${SITE:-boilerplate}/uploads
    # environment: 
    env_file: 
      - .env
    environment: 
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - ENV_MODE=development
    # entrypoint: /usr/bin/entrypoint-front.sh

  api:
    tty: true
    build:
      context: ./prisma-cms
      network: ${NETWORK_NAME:-prisma-cms-default}
      args: 
        - SITE=${SITE:-boilerplate}
        - ROLE=API
        - ENV_MODE=development
        - endpoint=${dev_endpoint}
    volumes:
      # - schema:/www/${SITE:-boilerplate}/src/schema
      - ./prisma-cms/${SITE:-boilerplate}/uploads:/www/${SITE:-boilerplate}/uploads

      # For any server config files, for example DKIM
      - ./opt:/opt
    # depends_on:
    #   - prisma
    env_file: 
      - .env
    environment: 
      - API_ENDPOINT=${API_ENDPOINT:-http://api:4000}
      - endpoint=${dev_endpoint}
      - GethServer=${ETHEREUM_GATEWAY:-https://cloudflare-eth.com}
    # entrypoint: /usr/bin/entrypoint-api.sh

  # web-server
  proxy:
    environment:
      - ACME_AGREE=true
    build:
      context: ./caddy
  
  # mail-server
  mail:
    image: mailhog/mailhog

  rtcmultyconnection:
    tty: true
    build:
      context: ./rtcmultyconnection
    command: yarn --ignore-engines start

  coturn:
    build:
      context: ./coturn
    volumes:
      - ./coturn/turnserver.conf:/etc/turnserver.conf
    ports:
      ## STUN/TURN
      - "3478:3478"
      - "3478:3478/udp"
      - "3479:3479"
      - "3479:3479/udp"
      # - "80:80"
      # - "80:80/udp"
      ## STUN/TURN SSL
      # - "5349:5349"
      # - "5349:5349/udp"
      # - "5350:5350"
      # - "5350:5350/udp"
      # - "443:443"
      # - "443:443/udp"
      # Relay Ports
      #      - "49152-65535:49152-65535"
      #      - "49152-65535:49152-65535/udp"
      

volumes:
  mysql:
  # schema:
  # shared:

networks:
  default:
    name: ${NETWORK_NAME:-prisma-cms-default}
